<div class="question">
    <strong><h1>What do you need help with?</h1></strong>
</div>

<div class="topics">
    <% @topics.each do |topic|%>
    <li><%= link_to topic.topic, topic %></li>
    <% end %>
</div>