// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    display:grid;
    grid-template-areas: 
    "nav nav"
    "info posts"
    "info reviews";
}

* {
    font-weight: 100;
    font-family: sans-serif;
    text-decoration: none;
}

nav {
    grid-area: nav;
    background-color:#d0dfff;
}

.info {
    grid-area: info;
    background-color:#d0fff0;
    padding: 20px;
}

.posts {
    grid-area: posts;
    background-color:#fff0d0;
    padding: 20px;
}

.reviews {
    grid-area: reviews;
    background-color:#ffd0df;
    padding: 20px;
}
